/* Override default text color for the login page */
ion-content {
    --background: linear-gradient(90deg, rgba(121, 8, 8, 0.767), rgba(58, 4, 4, 0.945)),
    url("/assets/bg.jpg") no-repeat center center / cover;
    background-size: cover; /* Ensure the image covers the whole area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image from repeating */
}

.login-section {
    height: 80vh;
    width: 100%;
    max-width: 500px;
    background: #ffffff;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    margin: auto;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;

    .heading {
        margin-top: 20px;
        
        /* Make sure heading and description are properly visible */
        h1 {
            font-size: 1.6rem;
            font-weight: bolder;
            color: #701f1f;  /* White text color */
        }
        p {
            margin-top: 20px;
            font-size: 1rem;
            color: #701f1f;  /* Light gray for the description */
        }
    }

    .login-form {
        .form-input {
            position: relative;
            margin-bottom: 10px;

            /* Remove padding-left and handle icon placement */
            ion-item::part(native) {
                padding-left: 0;
            }

            ion-icon {
                color: #701f1f;
                position: inherit;
                top: 37px;
                z-index: 2;
                font-size: 1.2rem;
                left: 5px;
            }

            ion-label {
                position: absolute;
                margin-left: 35px;
                font-weight: bolder;
                font-size: 0.8rem;
                top: 3px;
                color: #701f1f;  /* Light gray for labels */
            }

            /* Keep input text black and provide appropriate padding */
            ion-input {
                font-size: 0.9rem;
                --padding-start: 36px;
                --padding-top: 36px;
                color: #000;  /* Black text color for inputs */
            }
        }
    }

    .action-buttons {
        text-align: center;

        /* Adjust login button */
        .login-button {
            --background: #f9b801;
            width: 100%;
            font-weight: bold;
        }

        p {
            margin-top: 15px;
            font-size: 1rem;
            color: #701f1f;  /* Light gray color for "Forgot password?" text */
        }

        .signup-button {
            --border-color: #b4b4b4;
            color: #701f1f;  /* Blue color for SignUp button text */
            font-weight: bold;
            margin-top: 30px;
            width: 100%;
        }
    }
}
