<ion-content>
  <div class="profile-container">
    <!-- Gradient Half Circle Header -->
    <div class="header-gradient">
      <h1 class="user-name">{{ userName }}</h1>
    </div>

    <!-- Profile Picture -->
    <div class="profile-picture-container">
      <img src="../../assets/images/profile-icon.png" alt="Profile Picture" class="profile-picture">
    </div>

    <!-- Profile Details -->
    <div class="profile-details">
      <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-label position="stacked">Name</ion-label>
            <ion-input [value]="userName" readonly></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Course</ion-label>
            <ion-input [value]="userCourse" readonly></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input [value]="userEmail" readonly></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input type="password" value="********" readonly></ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </div>

    <!-- Profile Buttons -->
    <div class="profile-buttons">
      <ion-button expand="block" (click)="editProfile()">Edit Profile</ion-button>
      <ion-button expand="block" class="logout-button" (click)="logout()">Logout</ion-button>
    </div>
  </div>
</ion-content>